[submodule "architecture-examples"]
	path = architecture-examples
	url = git@github.com:addyosmani/todomvc.git
[submodule "dependency-examples"]
	path = dependency-examples
	url = git@github.com:addyosmani/todomvc.git
[submodule "reference-examples"]
	path = reference-examples
	url = git@github.com:addyosmani/todomvc.git
